    <div class="mau2">
        <div class="mau2-max">
            <div class="mau2-contant">
                <h2>Welcome to our world of <br>Pure Good, Pure Joy.</h2>
                <p>Drawing inspiration from the ancient Latin word for 'My Life,' Maiva embodies a healthy lifestyle. We
                    passionately create nourishing foods, each a promise of wellness and joy. Rooted in pure goodness
                    and
                    simple pleasures, we invite you to savour life's moments while nurturing your well-being with every
                    Maiva choice.</p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0837/6818/1030/files/Rectangle_17.png?v=1703498849" alt="">
        </div>
    </div>


    <style>

        .mau2 {
            padding: 80px 0 20px 0;
        }
      
        .mau2-max {
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2em;

        }

        .mau2-contant {
            max-width: 600px;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .mau2-max img {
            width: 100%;
        }

.mau2-contant h2 {
    font-size: 30px !important;
    margin: 0;
    font-weight: 600 !important;
    line-height: 36px!important;
    color: black;
}
.mau2-contant p {
    font-size: 14px !important;
    text-align: justify;
    margin: 0;
    color: black;
}

        @media (max-width:767px) {
            .mau2-contant h2 {
              font-size: 22px !important;
              margin: 0;
              font-weight: 600 !important;
              line-height: 26px!important;
            }
        }
    </style>

{% schema %}
  {
    "name": "About Us Section 1",
    "settings": [],
    "presets":[
      {
        "name":"About Us Section 1",
        "category":"section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}