    <div class="mau3">
        <div class="mau3-max">
            <img src="https://cdn.shopify.com/s/files/1/0837/6818/1030/files/Rectangle_17.png?v=1703498849" alt="">
        </div>
        <div class="mau3-max">
            <h2>Our Story</h2>
            <img src="https://cdn.shopify.com/s/files/1/0837/6818/1030/files/Rectangle_17.png?v=1703498849" alt="">
        </div>
    </div>

<style>
.mau3 {
    padding: 20px 0;
}  
.mau3-max{
  max-width:1024px;
  margin: 0 auto;
  padding: 0 20px;
}  
.mau3-max img {
    width: 100%;
}  
.mau3-max h2 {
    font-size: 30px !important;
    margin: 0;
    font-weight: 600 !important;
    line-height: 36px!important;
    color: black;
    text-align: center;
    padding: 40px 0 20px 0;
}  
@media(max-width:767px){
.mau3-max h2 {
    font-size: 22px !important;
    line-height: 28px !important;
}   

}  
</style>

{% schema %}
  {
    "name": "About Us Section 3",
    "settings": [],
    "presets":[
      {
        "name":"About Us Section 3",
        "category":"section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}